.content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem; }
  .content.-small {
    max-width: 704px; }

* {
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility; }

img {
  max-width: 100%;
  height: auto; }

.padding-1x {
  padding: 1rem; }

.padding-2x {
  padding: 2rem; }

.row .cf {
  margin: 0 -1rem; }

.col-3, .col-4, .col-6 {
  float: left; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-6 {
  width: 50%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

@media screen and (max-width: 1080px) {
  #body {
    font-size: 15px; }
  .col-3 {
    width: 50%; }
  .col-4 {
    width: 50%; } }

@media screen and (max-width: 720px) {
  #body {
    font-size: 14px; }
  h1, .h1 {
    font-size: 3em; }
  .row {
    margin: 0 0rem; }
  .padding-1x {
    padding: 0.5rem; }
  .padding-2x {
    padding: 1rem; }
  .col-6 {
    width: 100%; }
  .col-3 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .block-on-small {
    display: block; } }

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.618;
  background: #111412;
  color: #f9f8f4; }

h1, .h1 {
  font-size: 4em;
  font-family: "Rubik", sans-serif;
  font-weight: 400; }

h2, .h2 {
  font-size: 2.5em;
  font-family: "Rubik", sans-serif;
  font-weight: 400; }

h3, .h3 {
  font-size: 1.5em;
  font-weight: 400; }

h4, .h4 {
  font-size: 1.25em;
  font-weight: 400; }

h5, .h5 {
  font-size: 1.125em;
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.12;
  margin-top: 0;
  margin-bottom: 0.309rem; }

a {
  display: inline-block;
  color: #2980B9; }
  a:hover {
    color: #20638f; }

canvas {
  position: absolute;
  top: 0;
  left: 0; }

.site-header {
  color: #f9f8f4; }
  .site-header-subtitle {
    padding-top: 0.5rem;
    font-size: 1.318em;
    font-weight: 300; }
    .site-header-subtitle a {
      color: #f9f8f4; }
      .site-header-subtitle a:hover {
        color: #adadad; }

.social-block {
  margin-top: 1rem; }
  .social-block a {
    font-size: 2em;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0.618rem; }
    .social-block a:first-child {
      padding-left: 0; }
    .social-block a:last-child {
      padding-right: 0; }
    .social-block a:hover {
      color: #fff; }

.github-block {
  background: #f9f8f4;
  color: #111412;
  overflow: hidden; }
  .github-block-element-link {
    display: block; }
  .github-block-title {
    font-weight: 400;
    height: 1.5rem;
    overflow: hidden;
    min-width: 0; }
    .github-block-title:hover {
      text-decoration: underline; }
  .github-block-thumbnail {
    margin: 0 0 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, rgba(0, 0, 0, 0.06) 0 8px 0 -4px;
    display: block; }
  .github-block-stats {
    white-space: nowrap; }
  .github-block-description {
    height: 2rem;
    margin-bottom: 5px; }
  .github-block .icon-star {
    margin-right: 0.1em; }

.instagram-block {
  background: #111412;
  color: #f9f8f4; }
  .instagram-block-element-link {
    display: block; }
  .instagram-block-description {
    padding-top: .618rem; }
  .instagram-block img {
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, rgba(0, 0, 0, 0.06) 0 8px 0 -4px;
    border-radius: 2px;
    width: 100%;
    display: block; }

.goodreads-block {
  background: #f9f8f4;
  color: #333; }
  .goodreads-block-element-status {
    border: 1px solid #ebe6d9;
    background: #f4f1ea;
    text-transform: uppercase;
    color: #333;
    line-height: 1;
    padding: 0.4rem 0.4rem 0.3rem;
    font-size: 0.55em;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    display: inline-block; }
  .goodreads-block-element-stars {
    margin-left: 0.5rem; }
  .goodreads-block-element-link {
    display: block; }
  .goodreads-block-element-thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 155%;
    background-color: #e7e3d3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, rgba(0, 0, 0, 0.06) 0 8px 0 -4px;
    border-radius: 2px; }

.about-block {
  color: #f9f8f4;
  background: #111412; }
  .about-block-profile {
    height: 16em;
    width: 16em;
    margin: 0 auto;
    border: 4px solid #333;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px, rgba(0, 0, 0, 0.06) 0 8px 0 -4px;
    border-radius: 2px; }
  .about-block .quote {
    color: #444; }

footer.dev-info {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  background: #000;
  border-top: 0.25rem solid #222; }
  footer.dev-info img {
    margin: 1rem;
    height: 4rem; }
  footer.dev-info .last-modified {
    color: #333;
    font-family: monospace; }

.content-block {
  padding: 10vmin 5vmin; }

.q-1 {
  width: 20%; }

.text-light {
  text-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0; }

.text-dark {
  text-shadow: rgba(255, 255, 255, 0.1) 0 1px 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

.flex {
  display: flex; }

.flex-1 {
  flex: 1; }

.flex-content-center {
  align-items: center; }

.flex-justify-center {
  justify-content: center; }

.flex-wrap {
  flex-wrap: wrap; }

@media screen and (max-width: 2560px) {
  body {
    font-size: 18px; } }

@media screen and (max-width: 1440px) {
  body {
    font-size: 16px; } }

@media screen and (max-width: 1024px) {
  body {
    font-size: 15px; }
  .q-1 {
    width: 33.33%; }
  .hide-from-tablet {
    display: none; } }

@media screen and (max-width: 640px) {
  body {
    font-size: 12px; }
  .q-1 {
    width: 50%; }
  .hide-from-mobile {
    display: none; } }
