.content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem; }
  .content.-small {
    max-width: 704px; }

* {
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility; }

.padding-1x {
  padding: 1rem; }

.padding-2x {
  padding: 2rem; }

.row {
  margin: 0 -1rem; }

.col-3, .col-4, .col-6 {
  float: left; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-6 {
  width: 50%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

@media screen and (max-width: 1080px) {
  #body {
    font-size: 15px; }
  .col-3 {
    width: 50%; }
  .col-4 {
    width: 50%; } }

@media screen and (max-width: 720px) {
  #body {
    font-size: 14px; }
  h1, .h1 {
    font-size: 3em; }
  .row {
    margin: 0 -0.5rem; }
  .padding-1x {
    padding: 0.5rem; }
  .padding-2x {
    padding: 1rem; }
  .col-6 {
    width: 100%; }
  .col-3 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .block-on-small {
    display: block; } }

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.618;
  background: #111412;
  color: #333; }

h1, .h1 {
  font-size: 4em;
  font-family: "Rubik", sans-serif;
  font-weight: 400; }

h2, .h2 {
  font-size: 2.5em;
  font-weight: 400; }

h3, .h3 {
  font-size: 1.5em;
  font-weight: 400; }

h4, .h4 {
  font-size: 1.25em;
  font-weight: 400; }

h5, .h5 {
  font-size: 1.125em;
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.12;
  margin-top: 0;
  margin-bottom: 0.309rem; }

a {
  display: inline-block;
  color: #2980B9; }
  a:hover {
    color: #20638f; }

.site-header {
  color: #fff; }
  .site-header-subtitle {
    padding-top: 0.5rem;
    font-size: 1.318em;
    font-weight: 300; }
  .site-header canvas {
    position: absolute;
    top: 0;
    left: 0; }

.content-block {
  padding: 5rem 5rem; }

.site-footer {
  text-align: center;
  color: #ededed; }

.social-block {
  margin-top: 1rem; }
  .social-block a {
    font-size: 2em;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0.618rem; }
    .social-block a:first-child {
      padding-left: 0; }
    .social-block a:last-child {
      padding-right: 0; }
    .social-block a:hover {
      color: #fff; }

@media screen and (max-width: 2560px) {
  body {
    font-size: 18px; }
  .content-block {
    padding: 10rem 10rem; } }

@media screen and (max-width: 1440px) {
  body {
    font-size: 16px; }
  .content-block {
    padding: 5rem 5rem; } }

@media screen and (max-width: 1024px) {
  body {
    font-size: 15px; }
  .content-block {
    padding: 5rem 5rem; }
  .q-1 {
    width: 33.33%; }
  .hide-from-tablet {
    display: none; } }

@media screen and (max-width: 640px) {
  body {
    font-size: 14px; }
  .content-block {
    padding: 1rem 0rem; }
  .q-1 {
    width: 50%; }
  .hide-from-mobile {
    display: none; } }
