extends layout

block content
  header
    h1 Michael King
    p My life consists of writing code and staying up late at night to look up at the rest of the universe. Linux is the way to go 
  //- footer
  //-   cool footer with lots of copyrights
